*{
    margin: 0;
    padding: 0;
}

.box{
    border: solid 1px black;
}

.container{
    grid-template-areas: 
        "header"
        "main"
        "nav"
        "sec1"
        "sec2"
        "sec3"
        "foot"
}
/* header */

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .logo > img{
    width: 100px;
    padding-left: 10px;
}

header > .buscador{
    display: none;
    border: solid 1px #ececec;
    padding: 3px;
}

header > .buscador > .icono{
    width: 25px;
}

header > .menu > img{
    width: 35px;
    padding-right: 20px;
}

header > .menu-desktop{
    display: none;
}

/* main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: main;
    background-image: url(../img/fondo-tecnológico.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
}

main > .texto {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.6);
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 70%;
    border-radius: 10px;
    color: white;
    margin: 10px;
}

main> .buscador{
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: rgba(242, 242, 242, 0.464);
    border-radius: 5px;
}
main > .buscador > img{
    width: 25px;
}
    
/* navbar */
nav{
    grid-area: nav;
    display: none;
}

nav > ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

/* sec1 */

.sec1{
    grid-area: sec1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.sec1 > h3{
    padding-bottom: 20px;
}
.sec1 > .grilla{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.sec1 > .grilla > .card{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: solid 1px black;
    
}

/* sec2 */
.sec2{
    grid-area: sec2;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: black;
    color: white;
}

.sec2 > .titulo{
    padding: 10px;
}
.sec2 > .parrafo{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 10px;
}

.sec2 > .suscription {
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: center;
}

.sec2 > .suscription > form {
    padding: 3px;
}

/* sec3 */
.sec3{
    grid-area: sec3;
    display: flex;
    flex-direction: column; 
}

.sec3 > .envios > .caja {
    border: solid 1px black;
    display: flex;
}

.sec3 > .envios > .caja > .parrafo{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
}

.sec3 > .envios > .caja > .parrafo > .tittle-descp{
    border: solid 1px black;
}

footer{
    grid-area: foot;
}
